@import '../variables';
@import '../index';



.assignment {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 20% 80%;
    & div {
        background-color: $cell-color;
        border-radius: 3px;
        padding: 5px;
    }
    .summary {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .row {
            display: grid;
            grid-gap: 5px;
            grid-template-columns: 60% 40%;
            & span {
                &:last-child {
                    text-align: right;
                    padding: 0 5px 0 0;
                }
            }
            &.warning {
                color: $warning-color;
            }            
        }
    }
    .detail {
        display: inline-grid;
        grid-gap: 5px;
        grid-template-columns: 55% 15%;
        & div {
            padding: 0
        }
    }
}

input {
    border: none;
    border-radius: 1px;
    font-size: 14px;
    margin: 1px;
    padding: 5px;
    &.poolId {
        background-color: $disabled-green-background;    
        color: $disabled-green-color;
    }
    &.warning {
        background-color: $warning-background;
        color: $warning-color;
    }
}

// .warning {
//     background-color: $warning-background;
//     color: $warning-color;
// }

a {
  display: inline-block;
  padding: 2px 7px 2px 5px;
  border-radius: 5px;
  background-color: #333333;
  cursor: pointer;
  &:hover {
      background: #444444;
  }
  &.dirty {
    background: none;
    border: none;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;      
  }
}
