@import '../variables';
@import '../index';

.assignment {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .item {
        &:first-child {
            width: 20%;
        }
        &:last-child {
            width: 80%;
        }
    }
}

.fixed {
    position: fixed;
}

.detail {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #222222;
    padding: 5px;
    border-radius: 3px;    
    margin: 0 0 0 20px;
    .success {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        &h1 {
            font-size: 24px;
            font-weight: bold;
            margin: 10px;
            color: #2ECC40
        } 
    }
    .column {
        &.test {
            justify-content: center;
        }
        .title {
            font-size: 24px;
            font-weight: bold;
            margin: 0 0 10px;
            color: #eabe20;
        }
        .error {
            font-size: 24px;
            font-weight: bold;
            margin: 10px 0 0 0;
            color: #ea0000
        }   
        margin: 0 0 0 10px;
        &:last-child {
            width: 25%;
        }
    }
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $cell-color;
    padding: 5px;
    border-radius: 3px;
    position: fixed;
    width: 20%;
    .row {
        display: flex;
        flex-direction: row;
        border-radius: 3px;
        padding: 3px;
        span {
            &:first-child {
                width: 60%;
            }
            &:last-child {
                width: 40%;
                text-align: right
            };
        }
    }
}

input {
    border: none;
    border-radius: 1px;
    font-size: 14px;
    margin: 1px;
    padding: 5px;
    &.poolId {
        background-color: $disabled-green-background;    
        color: $disabled-green-color;
    }
}

.warning {
    background-color: $warning-background;
    color: $warning-color;
}

a {
  display: inline-block;
  padding: 2px 7px 2px 5px;
  border-radius: 5px;
  background-color: #333333;
  cursor: pointer;
  &:hover {
      background: #444444;
  }
  &.dirty {
    background: none;
    border: none;
    background-color: red;
    color: $warning-background;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;      
  }
}
