@import '../variables';
@import '../index';





.fa {
    font-size: 10px !important;
}

.account {
    display: grid;
    width: 75%;
    grid-template-columns: 100%;
    grid-template-areas: "range"
                         "ledger"
                         "form";

}

.range-a {
    grid-area: range;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-items: end;
    & .tag {
        justify-self: start;
        align-self: center;
    }
    & span {
        margin: 0 6px 0 0;
    }
    & label {
        color: #202020;
        font-size: 70%;
    }
    & input{
        border: none;
        background-color: aliceblue;
        border-radius: 5px;
        margin: 2px;
        padding: 5px;
        width: 75px;
        font-size: 20px;
        text-align: center;
    }
}

.ledger-a {
    grid-area: ledger;
    display: flex;
    flex-direction: column;
    display: grid;
    grid-template-columns: 100%;
    // & div, span {
    //     padding: 0 10px 0 10px;
    // }
    & .row {
        display: grid;
        grid-template-columns: 7% 15% 25% 25% 27%;
        padding: 3px;
        justify-items: end;
        cursor: pointer;
        & .actions {
            width: 100%;
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            & a {
               display: block;
               padding: 0 15px 0 15px;
               margin: 0;
               border-radius: 3px; 
               cursor: pointer;
                &:first-child {
                    margin: 0 3px 0 0;
                }               
                &.update {
                    color: yellowgreen;
                    background-color: green;                 
                }
                &.delete {
                   color: red;
                   background-color: darkred;
                }
            }
        }
        & i {
            align-self: center;
            //padding: 0 5px 0 0;
        }
        & input{
            border: none;
            background-color: aliceblue;
            border-radius: 5px;
            //padding: 0 10px 0 10px;
            width: 65%;
            font-size: 20px;
            text-align: right;
            align-self: center;
            &:first-child {
                width: 65%;
            }
            &.pending {
               width: auto;
            }            
            &[type=checkbox] {
                justify-self: end;
                margin: 0;
            }
        }
        & .red {
            color: darkred;
            background-color: palevioletred;
            border: 1px solid darkred;
            border-radius: 3px;
            display: block;
        }
        &.light {
            background-color: #444444;
        }
        &.dark {
            background-color: #373737;
        }
        &.future {
            color: grey;
        }
        &.divider {
            border-top: 2px solid purple;
        }
        &.edit{
            background-color:aliceblue;
        }
        &.heading {
            margin: 0 0 3px 0;
            text-align: right;
            color: #202020;
            font-size: 75%;
            border-bottom: 1px solid #373737;
        }
    }
}

.form-a {
    grid-area: form;
    display: grid;
    //grid-template-columns: 23% 25% 51%;
    //grid-template-columns: 23% 50% 27%;
    grid-template-columns: 7% 15% 25% 25% 27%;
    justify-items: end;
    padding: 10px 20px 0 20px;
    margin: 5px 0 0 0;
    border-radius: 3px;
    border-top: 1px solid #262525;
    & input{
        border: 1px solid #262525;
        background-color: aliceblue;
        border-radius: 5px;
        padding: 5px;
        width: 65%;
        font-size: 20px;
        text-align: right;
        &.date {
            grid-column: 2
        }  
        &.credit {
            grid-column: 4;
        }   
        &.debit {
            grid-column: 3;
        }   
    }
    & a {
        display: block;
        width: 25%;
        padding: 3px 15px 0 15px;
        margin: 2px 0 2px 0;
        border-radius: 3px; 
        cursor: pointer;
        color: yellowgreen;
        background-color: green;
        text-align: center;
        align-self: stretch;
        &.add {
            grid-column: 5;
        }
    }
}

.box {
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    padding: 20px 20px 10px 20px;
    margin: 0 0 5px 0;
    font-size: 120%;
    &.narrow {
        background: none;
        padding: 10px 0  10px 2px;
    }
  }

//   .box2 {
//     color: #fff;
//     margin: 0 0 5px 0;
//     font-size: 120%;
//   }
