$disabled-green-color: green;
$disabled-green-background: #C6EFCE;

$warning-background: #FFC4C8;
$warning-color: red;

$cell-color: #222222;

@-webkit-keyframes pulse {
    from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
    50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
    to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}